.LandingPageContainer {
  width: 100%;
  height: 100vh;
}
.LandingPage {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
  animation: myFade 1.5s;
  -moz-animation: myFade 1.5s; /* Firefox */
  -webkit-animation: myFade 1.5s; /* Safari and Chrome */
  -o-animation: myFade 1.5s; /* Opera */
  color: #fff;
}
@keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes myFade {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes myFade {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes myFade {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.LPHeader {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 50px 0 50px 0;
}
.LPButton {
  margin-top: 10px;
  background-color: #fff;
  color: #063852;
  border-style: none;
  border-radius: 50px;
  width: 160px;
  height: 34px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
}
.LPButton:hover {
  background-color: #063852;
  color: #fff;
}
.shoppa_logo {
  width: 60%;
  margin-bottom: 50px;
}
@media only screen and (min-width: 451px) {
  .shoppa_logo {
    width: 20%;
    margin-bottom: 35px;
  }
}
