.NavPage {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
  animation: myFade 1.5s;
  -moz-animation: myFade 1.5s; /* Firefox */
  -webkit-animation: myFade 1.5s; /* Safari and Chrome */
  -o-animation: myFade 1.5s; /* Opera */
  display: flex;
  flex-direction: column;
}

@keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes myFade {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes myFade {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes myFade {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.NPButton {
  width: 90%;
  height: 30vh;
  margin: 10px 0 10px 0;
  border-style: none;
  border-radius: 15px;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
}
.top {
  background-color: #063852;
}
.bottom {
  background-color: #f0810f;
}
