.newShoppingListContainer {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}
.newShoppingList {
  width: 100%;
}
.titleLabel {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 600;
}
.title {
  margin: 10px 0 30px 0;
  font-weight: 500;
}
.newShoppingList fieldset {
  border-style: none;
}
.newShoppingList input {
  width: 80%;
  border-style: none;
  border-radius: 25px;
  padding: 5px;
}
.newShoppingList input::placeholder {
  text-align: center;
  height: 60px;
  font-size: 16px;
  color: #95c7bc;
}
.newShoppingList input[target="value"] {
  text-align: center;
  color: #fbcd4b;
  font-size: 1.1em;
}
.newShoppingListButton {
  background-color: #063852;
  color: #fff;
  border-style: none;
  border-radius: 8px;
  width: 120px;
  height: 34px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.storeNameInput {
  margin-bottom: 10px;
}
.newShoppingListButton {
  margin-right: 15px;
}
.grey {
  background-color: #eb5e30;
}
.newShoppingListButton:hover {
  background-color: #fff;
  color: #063852;
}
.grey:hover {
  background-color: #fff;
  color: #063852;
}
